body {
    font-family: Colibri, sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#preview_container {
    margin-top: 20px;
    max-width: 60%;
    max-height: 40%;
    overflow: auto;
}

#trash_type {
    margin-top: 10px;
    max-width: 10%;
}
#preview_container {
    margin-top: 20px;
    max-width: 60%;
    max-height: 40%;
    overflow: auto;
}

#trash_type {
    margin-top: 10px;
    max-width: 10%;
}

.input-container,
.select-container {
    max-width: 60%;
    margin: 10px 0;
}

#trash_image {
    max-width: 100%;
}

@media only screen and (max-width: 1080px) {
    #preview_container,
    #trash_type,
    .input-container,
    .select-container {
        max-width: 100%;
    }
}